Repository kc3hack/2022_d, pull requests merged in 2022-03, with the labels that each got.

#3 feat/#2/バックエンドのベースアプリを追加
  .gitignore
  backend/.gitignore
  backend/README.md
  backend/build.gradle.kts
  backend/gradle.properties
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/micronaut-cli.yml
  backend/openapi.properties
  backend/settings.gradle.kts
  backend/src/main/kotlin/dev/postnotifier/Application.kt
  backend/src/main/kotlin/dev/postnotifier/NagamochiController.kt
  backend/src/main/resources/application.yml
  backend/src/main/resources/logback.xml
  backend/src/test/groovy/dev/postnotifier/NagamochiSpec.groovy
  backend/src/test/resources/application-test.yml
Labels: enhancement, backend

#9 Feat/#8/create database
  backend/.gitignore
  backend/docker-compose.yml
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V1_0_0__init_db.sql
  backend/src/test/resources/application-test.yml
Labels: enhancement, backend, Micronaut

#31 Feat/#29/crate user info api
  .github/workflows/github-ci.yml
  README.md
  backend/README.md
  backend/docker-compose.yml
  backend/src/main/kotlin/dev/postnotifier/Application.kt
  backend/src/main/kotlin/dev/postnotifier/NagamochiController.kt
  backend/src/main/kotlin/dev/postnotifier/api/controller/UserRestController.kt
  backend/src/main/kotlin/dev/postnotifier/api/data/UserInfoData.kt
  backend/src/main/kotlin/dev/postnotifier/api/request/UserInfoUpdateRequest.kt
  backend/src/main/kotlin/dev/postnotifier/api/request/UserPasswordUpdateRequest.kt
  backend/src/main/kotlin/dev/postnotifier/api/response/UserInfoResponse.kt
  backend/src/main/kotlin/dev/postnotifier/domain/user/UserModel.kt
  backend/src/main/kotlin/dev/postnotifier/domain/user/UserName.kt
  backend/src/main/kotlin/dev/postnotifier/domain/user/UserRepository.kt
  backend/src/main/kotlin/dev/postnotifier/exception/ErrorCode.kt
  backend/src/main/kotlin/dev/postnotifier/exception/NotFoundException.kt
  backend/src/main/kotlin/dev/postnotifier/infrastructure/entity/UserEntity.kt
  backend/src/main/kotlin/dev/postnotifier/infrastructure/query/UserQuery.kt
  backend/src/main/kotlin/dev/postnotifier/infrastructure/repositoryImpl/UserRepositoryImpl.kt
  backend/src/main/kotlin/dev/postnotifier/provider/AuthenticationProviderImpl.kt
  backend/src/main/kotlin/dev/postnotifier/service/UserService.kt
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V1_0_0__init_db.sql
  backend/src/test/groovy/dev/postnotifier/user/UserPassword_UT.groovy
  backend/src/test/resources/application-test.yml
Labels: enhancement, backend, Micronaut

#30 Feat/#19/create judge page
  frontend/lib/ProductGenre.dart
  frontend/lib/presentation/pages/judge_page.dart
  frontend/lib/presentation/pages/question_page.dart
Labels: Flutter

#33 Feat/#20/create question page
  frontend/lib/domain/useCase/question_calculation.dart
  frontend/lib/presentation/pages/judge_page.dart
  frontend/lib/presentation/pages/question_page.dart
  frontend/lib/presentation/pages/result_page.dart
  frontend/lib/product_genre.dart
Labels: Flutter

#37 Feat/ #32/point and item
  backend/build.gradle.kts
  backend/src/main/kotlin/dev/postnotifier/api/controller/UserRestController.kt
  backend/src/main/kotlin/dev/postnotifier/api/data/UserInfoData.kt
  backend/src/main/kotlin/dev/postnotifier/api/request/UserPointUpdateRequest.kt
  backend/src/main/kotlin/dev/postnotifier/domain/user/UserModel.kt
  backend/src/main/kotlin/dev/postnotifier/domain/user/UserPoint.kt
  backend/src/main/kotlin/dev/postnotifier/domain/user/UserRepository.kt
  backend/src/main/kotlin/dev/postnotifier/exception/ErrorCode.kt
  backend/src/main/kotlin/dev/postnotifier/infrastructure/entity/UserEntity.kt
  backend/src/main/kotlin/dev/postnotifier/infrastructure/query/UserQuery.kt
  backend/src/main/kotlin/dev/postnotifier/infrastructure/repositoryImpl/UserRepositoryImpl.kt
  backend/src/main/kotlin/dev/postnotifier/service/UserService.kt
  backend/src/main/resources/db/migration/V1_0_2__new_columns.sql
Labels: enhancement, backend, Micronaut
